.nav-bar,.mobile-show  {
  margin: 3rem;
  background: #022c43;
  width: 100px;
  height: 92%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 500px;
  box-shadow: 20px 10px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .logo {
    display: block;
    padding: 8px 0;
  }

  img {
    display: block;
    margin: 8px auto;
    width: 80px;
    height: auto;

    &.sub-logo {
      width: 70px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    height: 210px;
    top: 50%;
    margin-top: -100px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 55px;
      height: 55px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }
      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        font-size: 15px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  ul {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
  }

  li {
    a {
      padding: 7px 0;
      display: block;
      font-size: 20px;
      line-height: 16px;

      &:hover svg {
        color: #ffd700;
      }
    }
  }
}

.hamburger-icon,
.close-icon{
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 25rem;

    nav {
      z-index: 2;
      margin: 0;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:after {
        opacity: 3;
        position: initial;
        width: auto;
        margin-left: 10px;
      }
    }
    a svg {
      opacity: 1 !important;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2rem;
    }
  }

  .mobile-show {
    display: none;
  }

  .hamburger-icon,
  .close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    animation:fadeInRight 1s 1s;
    animation-fill-mode: forwards;
  }
}
